<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem vindo</h1>

    <p>Agora são {{now}}</p>

    <ul>
        {% for transação in transações %}
            {% if transação == "L1" %}
                <li><b>{{transação}}</b></li>
            {% else %}
                <li>{{transação}}</li>
            {% endif %}
        {% endfor %}
    </ul>
   
</body>
</html>
